body {
    font-family: system-ui;
    background: orange;
    color: white;
    text-align: center;
  }
    #heading {
      color:green;
      
    }
  #tribute-info {
    text-align: left;
  }
  #img-div {
    height: 600px;
    width: 600px;
    
  }